a {
  color: #32dbc6;
  text-decoration: none;
  background-color: transparent;
  font-size: 15px;
}
a:hover {
  color: #1da493;
  text-decoration: none;
}
nav a img{
  width: 20%;
}

.navbar.navbar-brand{
  font-family: "Dancing Script", cursive;}
