a {
  color: #32dbc6;
  text-decoration: none;
  background-color: transparent;
  font-size: 15px;
}
a:hover {
  color: #1da493;
  text-decoration: none;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}